$primary-color: #00ff00; /* Green */
$secondary-color: #0000ff; /* Blue */
$background-color: #000000;
$card-border-radius: 12px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$padding: 12px 24px;
$button-font-size: 16px;
$grey-color: #777777;

$border-primary: 2px solid #ffffff;

$yellow-color: #ffff00;
$red-color: #ff0000;
$dark-green-color: #009900;

$font-family: 'Courier New', monospace;
